{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{% block title %}パスワード生成{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'generate_app/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="#">パスワード生成アプリ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
                 <ul class="navbar-nav">
                     <li class="nav-item active">
                         <a class="nav-link" href="{% url 'index' %}">トップ<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="{% url 'create' %}">パスワード登録</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="{% url 'show_passwords' %}">一覧表示</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'export_password' %}">エクスポート</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>