{% extends "generate_app/layout.html" %}
{% load static %}

{% block body %}
<h1>パスワード一覧</h1>
<table id="show_passwords_container" class="table">
      <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Service Name</th>
              <th scope="col">PassWord</th>
              <th scope="col">URL</th>
              <th></th>
            </tr>
      </thead>
      <tbody>
            {% for password in passwords %}
            <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ password.service_name }}</td>
                  <td>{{ password.passWord }}</td>
                  <td><a href="{{ password.url }}">{{ password.url }}</a></td>
                  <td><buttton class="btn btn-danger">削除</buttton><span id="id" style="display: none;">{{ password.id }}</span></td>
            </tr>
            {% endfor %}
      </tbody>
</table>

{% endblock %}

{% block script %}
    <script src="{% static 'generate_app/index.js' %}"></script>
{% endblock %}